* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  font-family: Arial, Helvetica, sans-serif;
}
h1 {
  color: #fff;
}
.container {
  max-width: 1200px;
  margin: auto;
}
.show-more-btn {
  padding: 10px;
  border: none;
  border-radius: 10px;
  background-color: blue;
  color: #fff;
  margin-top: 10px;
  cursor: pointer;
}
/* .descriptionContainer {
  display: flex;
  border: 1px solid black;
  flex-direction: column;
  justify-content: space-around;
  align-content: flex-start;
  align-items: flex-start;
} */
#main-container {
  padding: 10px;
  text-align: center;
}
.cardContainer {
  padding: 10px;
  /* margin: auto auto;
  postio */
  /* position: relative; */
  /* right: -30%; */
  /* display: none; */
  background-color: #fff;
  box-shadow: 2px 2px 10px black;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
  /* align-content: center; */
}
.btn1 {
  padding: 10px;
  border: none;
  border-radius: 10px;
  background-color: rgb(5, 255, 17);
  /* color: #fff; */
  margin-top: 10px;
  margin-right: 15px;
  display: inline-flex;
}
.childContainer {
  background-color: #fff;
  box-shadow: 2px 2px 10px black;
  display: none;
}
#headingOne {
  color: slateblue;
  font-size: 25px;
  padding: 10px;
}
.descriptionContainer {
  position: relative;
  left: 30%;
}
/* display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center; */

.Avacados {
  color: slateblue;
  font-size: 20px;
  padding: 10px;
}
#img {
  position: relative;
  left: 30%;
  padding: 20px;
}
.img {
  height: 350px;
  width: 380px;
  display: block;
  border-radius: 10px;
  margin-top: 20px;
}
.navbar {
  background-color: royalblue;
}

.menu {
  display: flex;
  justify-content: space-between;
  padding: 20px 0px;
}
.menu-items {
  display: flex;
}
.navbar .menu-items li {
  list-style: none;
  margin-left: 100px;
  font-size: 20px;
  color: #fff;
}
.show-1 {
  margin-top: 80px;
  display: flex;
  justify-content: space-between;
  background-color: rgba(255, 127, 80, 0.103);
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.24);
}
.text-content {
  width: 45%;
  padding: 50px 40px;
}
.text-content h2,
p {
  margin-bottom: 40px;
}
.img-content {
  width: 45%;
}
.img-content img {
  width: 100%;
  height: 100%;
  object-position: center;
  object-fit: cover;
}
.btn-1 {
  border: none;
  font-size: 25px;
  background: orangered;
  color: #fff;
  padding: 5px;
  border-radius: 5px;
  box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.459);
}
.btn-2 {
  margin-left: 15px;
  border: none;
  font-size: 25px;
  padding: 5px;
  border-radius: 5px;
  background: #fff;
  box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.459);
}
.show-2 {
  margin-top: 80px;
  display: flex;
  justify-content: space-between;
  height: 400px;
  box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.459);
}
.box-1 {
  width: 40%;
  display: flex;
  flex-direction: column;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.24);
}
.box-2 {
  width: 40%;
  padding: 0px 100px;
}
.box-2 {
  padding-top: 8px;
}
.box-2 li {
  list-style: none;
  padding-top: 20px;
}
.icon-style {
  margin-right: 10px;
  color: orangered;
}
.box-image {
  height: 60%;
}
.box-image img {
  width: 100%;
  height: 100%;
  object-position: center;
  object-fit: cover;
}
.box-content {
  height: 40%;
  text-align: center;
  padding-top: 10px;
}
.box-content button {
  font-size: 16px;
}
.box-content li {
  list-style: none;
  padding-top: 8px;
}
.box-3 {
  margin-top: 80px;
  margin-bottom: 20px;
  display: flex;
  justify-content: space-between;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.24);
  height: 200px;
  padding: 60px 10px;
}
.box-3 h2 {
  font-size: 18px;
  margin-bottom: 10px;
}
.sty {
  color: orangered;
  margin: 0px 60px;
}
.box-4 {
  margin-top: 80px;
  display: flex;
  justify-content: space-between;
  background-color: rgba(255, 127, 80, 0.103);
  padding: 10px;
}
.img-1 img {
  width: 80px;
  height: 80px;
  object-position: center;
  object-fit: cover;
  border-radius: 50%;
  margin: 0px 45px;
}
.text p {
  margin-top: 15px;
}
.text h3 {
  margin: 0px 50px;
}
